<div class="container">
    <div class="p-3 mb-2 bg-success text-white">
        <div class="col-12"><h2>Healthcare System</h2></div>
        <div class="col-12 text-end"><a class="btn btn-primary" href="/auth/login">Member Login</a></div>
    </div>

<div class="row">
    <div class="col-4">
    <div class="card" style="width: 18rem;">
        <img src="https://s3-eu-west-1.amazonaws.com/intercare-web-public/wysiwyg-uploads%2F1580196666465-doctor.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Doctors</h5>
            <p class="card-text">General directory of doctors. Supports self registration</p>
            <a href="/doctors/home" class="btn btn-primary">Go To Doctors</a>
        </div>
    </div>
    </div>
    <div class="col-4">
    <div class="card" style="width: 18rem;">
        <img src="https://www.ceymed.lk/wp-content/uploads/2020/10/Service1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Channeling</h5>
            <p class="card-text">Book an appointment with a doctor</p>
            <a href="/patient/home" class="btn btn-primary">Go To Channeling</a>
        </div>
    </div>
    </div>
    <div class="col-4">
        <div class="card" style="width: 18rem;">
            <img src="https://media.istockphoto.com/photos/empty-doctors-office-picture-id1295782888?k=20&m=1295782888&s=170667a&w=0&h=5uJoy5R79luNgE2rqVylLkZvm09e1eXiOSYFlgcxkRM=" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Clinic</h5>
                <p class="card-text">Clinic Directory</p>
                <a href="/clinic/home" class="btn btn-primary">Go To Clinics</a>
            </div>
        </div>
    </div>
</div>
</div>