<div class="container">
<h2>Login to system</h2>
    <form method="post" action="/auth/login">
    <div class="mb-3">
        <label for="usernameFormControl" class="form-label">Username</label>
        <input name="username" type="text" class="form-control" id="usernameFormControl" />
    </div>
    <div class="mb-3">
        <label for="passwordFormControl" class="form-label">Password</label>
        <input name="password" type="password" class="form-control" id="passwordFormControl" />
    </div>
    <div class="form-group" style="margin: 10px 5px">
        <button type="submit" class="btn btn-primary mb-2">Login</button>
    </div>
</form>
</div>