<div class="container">
<h2>Register as a physician</h2>

<form method="post" action="/doctors/register">
    <div class="mb-3">
        <label for="nameFormControl" class="form-label">Name</label>
        <input name="name" type="text" class="form-control" id="nameFormControl" />
    </div>
    <div class="mb-3">
        <label for="phoneFormControl" class="form-label">Phone</label>
        <input name="phone" type="text" class="form-control" id="phoneFormControl" />
    </div>
    <div class="mb-3">
        <label for="emailFormControl" class="form-label">Email</label>
        <input name="email" type="text" class="form-control" id="emailFormControl" />
    </div>
    <div class="mb-3">
        <label for="passwordFormControl" class="form-label">Password</label>
        <input name="password" type="password" class="form-control" id="passwordFormControl" />
    </div>
    <div class="form-group">
        <label for="addressFormControlTextarea1">Clinic Address</label>
        <textarea name="address" class="form-control" id="addressFormControlTextarea1" rows="3"></textarea>
    </div>
    <div class="form-group">
        <label for="areaFormControlTextarea1">Area Name</label>
        <input name="area" type="text" class="form-control" id="areaFormControlTextarea1" />
    </div>
    <div class="form-group" style="margin: 10px 5px">
        <button type="submit" class="btn btn-primary mb-2">Register</button>
    </div>
</form>
    <a href="/">Home</a> <a href="/auth/login">Login</a>
</div>