<div class="container">
    <div class="row">
    <div class="col-6">
    <div class="card" style="width: 18rem;">
        <img src="http://wellapptdesk.files.wordpress.com/2013/07/il_570xn-469483758_b7nk.jpg?resize=570%2C511" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">By Name</h5>
            <p class="card-text">Browse the directory of doctors using their name.</p>
            <a href="/doctors/byname" class="btn btn-primary">Name</a>
        </div>
    </div>
    </div>
    <div class="col-6">
    <div class="card" style="width: 18rem;">
        <img src="https://website-categorization.whoisxmlapi.com/images/website-categorization-api/blogs/what-to-consider-when-choosing-a-web-categorization-api-vendor.jpg" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">By Speciality</h5>
            <p class="card-text">Browse the directory by speciality.</p>
            <a href="/doctors/speciality" class="btn btn-primary">Speciality</a>
        </div>
    </div>
    </div>
    </div>
</div>