<div class="col-12"><h1>Doctor</h1></div>
<div class="col-12"><div class="col-4">
    <img class="rounded float-start" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7QQ6du--XfahSx5FvHZY1hqlc7ZEodOSE12hplpHFCl3Io6kFCIaApFy08xlj6xBqjVs&usqp=CAU"></div>
    <div class="col-8 align-middle">
        <a href="/doctors/directory" class="btn btn-primary btn-lg">Directory</a>
        <div class="col-12">&nbsp</div>
        <a href="/doctors/register" class="btn btn-primary btn-lg">Register</a>
    </div>
</div>